@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@inherits ViewBase
@namespace AllinOne.Shared.Components

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
