@namespace AllinOne.Shared.Components
@inherits BaseCounter

<table class="border border-primary">
    <tr>
        <td class="text-nowrap">
            <button type="button" class="btn @this.buttoncolor" @onclick="() => this.Service.IncrementCounter()">
                <span class="badge bg-light text-dark mx-1">@this.counter</span>@this.Name <span class="badge bg-dark text-white ml-1">@this.Service.Counter</span>
            </button>
        </td>
        @if (ChildContent != null)
        {
            <td width="90%">
                @ChildContent
            </td>
        }
    </tr>
</table>

@code {

    protected override string buttoncolor => "btn-success";

    protected override Task OnInitializedAsync()
    {
        Service.CounterChanged += ReRender;
        return base.OnInitializedAsync();
    }

    protected void ReRender(object sender, EventArgs e) => this.InvokeAsync(this.StateHasChanged);
}
